.reset-row {
	margin-right: 0px;
    margin-left: 0px;
}
.col-reset {
padding-right: 0px;
padding-left: 0px;
}

body {
    position: relative;
    overflow-x: hidden;
}

body, html {
    height: 100%;
}

.banner-mobile {
	width: 100%;
	float: right;
	position: relative;
}

